* {
	font-family: "Arial", sans-serif;
	color: white;
	font-size: 16px;
	border: none;
	overscroll-behavior: none;
}
a, i, button, ::placeholder {
	color: rgba(255, 255, 255, 1) !important;
}
#alert {
	display: flex;
	justify-content: space-around;
	text-align: center;
	margin: auto;
	width: 40%;
	position: fixed;
  left: 0;
  right: 0;
	bottom: 10px;
	z-index: 1;
}
#wrapper {
	position: relative;
	width: 1500px;
	height: 100vh;
	padding: 50px;
}
#wrapper-temp {
	position: relative;
	width: 1500px;
	height: 100vh;
	padding: 50px;
}
/* Style the navigation menu */

.topnav {
	position: fixed;
	float: left;
	margin: auto;
	text-align: center;
	width: 60px;
}
/* Hide the links inside the navigation menu (except for logo/home) */

.topnav #myLinks {
	display: none;
}
/* Style navigation menu links */

.topnav a {
	transition: all 0.1s linear;
	color: #314E70;
	text-decoration: none;
	font-size: 1em;
	display: block;
}
/* Style the hamburger menu */

.topnav a.icon {
	border-radius: 50px;
	margin: auto;
	background: #35D5D0;
	position: relative;
}
.topnav:hover #myLinks {
	display: block;
}
/* Add a grey background color on mouse-over */

.topnav a:hover {
	color: #314E70;
}
/* Style the active link (or home/logo) */

.active {
	color: #EBEEE0;
}

#landContainer {
	padding-top: 20vh;
	position: relative;
	width: auto;
	text-align: center;
    margin-bottom: 100%;
	transition: all 1500ms;

}


#main {
	margin: auto;
	padding-top: 10%;
	width: 1000px;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	transition: all 1500ms;

}

.content_2 {
	margin-top: 20px;
	position: relative;
	width: 1000px;
	max-height: 300px;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 20%;
	justify-content: space-evenly;
}
.graph {
	border-radius: 20px;
	box-shadow: #3c0e46 0px 7px 10px -6px;
	background-color: rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(6px);
	width: 800px;
  height: auto;
	padding: 15px;
}
#login-sign-up-button-outer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.internal_nav {
	height: 40px;
	width: 30%;
	margin: auto;
	margin-top: 150px;
	position: fixed;
}
#nav {
	display: flex;
	height: 40px;
	backdrop-filter: blur(6px);
}
.dot_list {
	/* Center the content */
	align-items: center;
	display: flex;
	justify-content: center;
	list-style-type: none;
	margin: auto;
}
.dot_list li a {
	padding: 6px 10px;
	border-radius: 3px;
	background: #7A1CAC;
}
#main_container {
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	padding: 20px;
	box-shadow: #3c0e46 0px 7px 10px -6px;
	background-color: rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(6px);
	width: 100%;
	height: auto;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}
.inputField {
	margin-bottom: 20px;
	width: 100%;
	display: flex;
	height: 45px;
	flex-wrap: nowrap;
	justify-content: center;
}
#home {
	margin: auto;
	width: auto;
}
.input_group {
	display: flex;
	width: 90%;
}
.inputField input {
	color-scheme: dark;
	background-color: rgba(0, 0, 0, 0.2);
	height: 100%;
	border-radius: 20px;
	text-align: center;
	margin: auto;
	outline: none;
}
input:hover {
	background-color: rgba(0, 0, 0, 0.5);
	transition: all 0.3s ease;
}
#pay {
	width: 10%;
}
#job {
	width: 30%;
}
.add_button {
	margin: auto;
	text-align: center;
}

.inputField button {
    margin: auto;
    width: 30px;
    height: 30px;
    font-size: 1rem;
    outline: none;
    padding: unset;
    text-align: center;
    align-items: center;
    background-color: rgb(255, 0, 238);
    opacity: 0.5;
    border-radius: 15px;
	border-style: solid;
	border-color: rgba(85, 255, 238, 0);
	border-width: 3px;
    position: relative;
}

.inputField button:hover {
    animation: pulse 1s 1; 
	animation-fill-mode: forwards;
}

@keyframes pulse {
    0% {
		border-style: solid;
		border-color: rgba(85, 255, 238, 1);
        box-shadow: 0 0 0 0 rgb(85, 255, 238);
    }
    70% {
		opacity: 1;
		border-color: rgba(85, 255, 238, 1);
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }
    100% {	
		opacity: 1;
		border-color: rgba(85, 255, 238, 0);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);

    }
}


.dot_list li a:hover, .footer button:hover {
	background-color: #BA2953;
	transition: all 0.3s ease;
	opacity: 1;
	pointer-events: auto;
}
.tab_div {
	max-height: 300px;
	width: auto;
	overflow: auto;
	margin-bottom: 10px;
	scrollbar-width: none;

}
table {
	width: 100%;
	max-width: 1000px;
	transition: all 0.3s ease;

}
table td {
	width: 20%;
	height: 45px;
	outline: none;
	font-size: 17px;
	display: flex;
	align-items: center;
	justify-content: center;
}

tbody {
	background-color: rgba(0, 0, 0, 0.2);
    display: flex;
	flex-direction: column;
    border-radius: 5px;
    margin-bottom: 1%;
    gap: 2%;
    justify-content: space-around;

	
}
td.date_start, td.date_end, td.pay_rate {
	width: 15%;
}
.notch_view {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.2);
	display: flex;
	justify-content: space-around;
	padding-right: 5%;
  	border-radius: 5px;
	flex-wrap: nowrap;
	margin-bottom: 1%;
	align-items: center;
	gap: 2%;
}

.notch_view:hover {
	background-color: rgba(0, 0, 0, 0.5);
	transition: all 0.3s ease;
}

.notch_view_buttons{
	background-color: rgba(0, 0, 0, 0.2);
    display: none;
	/*onclick display: flex;*/
    padding-right: 5%;
    border-radius: 5px;
    margin-bottom: 1%;
    gap: 2%;
    justify-content: space-around;
}


.footer {
	width: 100%;
	align-items: center;
	text-align: center;
	justify-content: space-between;
}
.button_div {
	align-items: center;
	display: flex;
	justify-content: center;
	list-style-type: none;
	margin: auto;
}
.footer button, #login-sign-up-form button {
	padding: 6px 10px;
	border-radius: 3px;
	outline: none;
	background: #7A1CAC;
}
.div-dark-top {
	text-align: center;
	border-top-left-radius: 20px;
    border-top-right-radius: 20px;
	background-color: rgba(0, 0, 0, 0.7);
}
#avrg {
	text-align: center;
	border-radius: 20px;
	box-shadow: #3c0e46 0px 7px 10px -6px;
	background-color: rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(6px);
	display: flex;
	flex-direction: column;
	height: fit-content;
	overflow: hidden;
}
#avrg h2 {
	margin: auto;
	font-size: 2em;
}
#average-title {
	margin: auto;
	text-align: center;
	padding: 10px;
}
.day_avrg, .pay_avrg {
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
}
/* invoices.html */

.invoice_cell {
	box-shadow: #3c0e46 0px 7px 10px -6px;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 15px;
	text-align: center;
	margin: auto;
	height: 50%;
	width: 10%;
	float: left;
}
.invoice_cell:hover {
	background-color: rgba(0, 0, 0, 0.3);
	transition: all 0.3s ease;
}
.invoice_grid{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}