<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" 
            integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" 
            integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" 
            crossorigin="anonymous" referrerpolicy="no-referrer" />     
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        {% block scripts %}{% endblock %}
    </head>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div id="alert" class="alert alert-{{ 'danger' if category == 'error' else 'success' }} auto-close fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true" style="color:#155724;">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    <body id="body" style="background-image:url('../static/images/container_background_noise.jpg'); width: 300px; height: 300px; background-size:cover;background-attachment: fixed;">
    <div id="wrapper">

        <div class="topnav">
            <a href="/" class="icon">{{ first_name_init|lower|trim + family_name_init|lower|trim }}</a>
            <div id="myLinks" class="active">
                <li><a id="user-profile" href="/user-profile" class="fa fa-user" ></a></i>
                {% if user.is_authenticated %}
                <li><a id="logout" href="/logout" class="fa fa-power-off" aria-hidden="true" ></a></li>
                {% else %}
                <li><a id="login" href="/login"><i class="fa fa-power-off" aria-hidden="true"></i></a></li>
                {% endif %}
            </div>
        </div>

        {% block welcome %}{% endblock %}

        {% block main_content %}
        <div id="main">
        {% endblock %}

        {% block nav %}
        <div id="nav" class="div-dark-top">
            <ul class="dot_list" style="padding: 0;">
                <li><a id="notch" class="fa fa-bars" href="/"></a></li>
                <li><a id="invoices" class="fa fa-file" href="/invoices"></a></li>
            </ul>
        </div>
        {% endblock %}

        <div id="main_container">
            {% block content %}{% endblock %}
        </div>

        <div class="content_2">
            {% block graph %}{% endblock %}
            {% block avrg %}{% endblock %}
        </div>
        
        </div>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
        <script>
            //fade out the alert
        window.setTimeout(function() {
            $(".auto-close").fadeTo(1000, 0).slideUp(1000, function() {
              $(this).remove();
            });
          }, 2000);
        </script>
        {% block end_scripts %}{% endblock %}
    </body>
</html>