 {% extends "base.html" %}
 {% block title %}{{ first_name|lower|trim }}'s notches{% endblock %}
 {% block home_nav %}
 <div class="nav">
    <ul class="dot_list">
        <li><a id="notch" class="btn btn-info" href="/"></a></li>
        <li><a id="invoices" class="btn btn-info" href="/invoices"></a></li>
    </ul>
</div> 
 {% endblock %}
 {% block content %}
    <div id="home">
        <form class="inputField" method="POST"> 
            <input style="font-size: 15px" name ="job" id="job" type="text" placeholder="notch title">
            <input style="font-size: 15px"  name ="start"id="start" type="date" placeholder="start">
            <input style="font-size: 15px" name ="end" id="end" type="date"  placeholder="end">
            <input style="font-size: 15px" name ="pay" id="pay" type="number" min="0" step="any" placeholder="rate">
            <button ><i type="submit" class="fa fa-plus"></i></button>
        </form>
        <div class =tab_div>
            <table id='table' >
                <tbody id="table_body">
                    {% for contract in user.contracts |groupby('date_added') %}
                    <tr class="notch_field">
                        <td >{{contract.job_title}}</td>
                        <td >{{contract.date_start}}</td>
                        <td >{{contract.date_end}}</td>
                        <td >{{contract.pay_rate}}</td>
                        <td id="delete_btn"><a class="btn btn-primary submitSignUp" onClick="deleteContract({{contract.id}})"></a></td>
                        <td id="update_btn"><a class="btn btn-primary submitSignUp" onClick="updateContract({{contract.id}})"></a></td>
                        <td id="invoice_upload_btn"><a href="/upload?id={{contract.id}}" class="btn btn-primary submitSignUp"></a></td>
                        <td id="invoice_download_btn"><a href= "{{ url_for('views.download_invoice', id=contract.id) }}" class="btn btn-primary submitSignUp"></a></td>
                    </tr>
                    
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class ='footer'>
        <button class="showbtn" onClick="showContracts()"><i class="fa fa-chevron-down"></i></button>
        <button class="clearbtn" onClick="hideContracts()" ><i class="fa fa-chevron-up"></i></button>   
    </div>
{% endblock %}

{% block avrg %}
<div class="avrg">
    <div class="day_avrg">
        <h2>{{ average_days }} days</h2>
    
    </div>
    <div class="pay_avrg">
        <h2>£{{ average_pay }}</h2>
    </div>
</div>

{% endblock %}
