{% extends "base.html" %}
{% block title %}{{ first_name|lower|trim }}'s invoices{% endblock %}
{% block home_nav %}
<div class="nav">
   <ul class="dot_list">
       <li ><a id="notch" class="btn btn-info" href="/"></a></li>
       <li><a id="invoices" class="btn btn-info" href="/invoices"></a></li>
   </ul>
</div> 
{% endblock %}
{% block content %}

                
                    <div class="invoice_grid">
                        {% for invoice in invoices %}
                        <div class="invoice_cell">
                               <div class="invoice_name"><i class="fa-regular fa-file"></i></div>
                               <div class="invoice_job">{{invoice.job_title}}</div>
                               <div class="invoice_download_btn"><a href= "{{ url_for('views.download_invoice', id=invoice.id) }}" class="btn btn-primary submitSignUp"></a></div>
                        </div>
                        {% endfor %}
                    </div>
               


{% endblock %}
