{% extends "base.html" %}
{% block title %}{{ first_name|lower|trim }}'s invoices{% endblock %}
{% block content %}

                <div id="job_search">
                    <div class="inputField">
                        <input style="font-size: 15px" id="keyword" type="text" placeholder="keywords">
                        <input style="font-size: 15px" id="location" type="text" placeholder="location">
                        <button><i class="fas fa-plus"></i></button>
                    </div>
                </div> 
                {% for invoice in contract.invoices %}
                <tr id="tab_row">
                    <td>{{invoice.invoice_data}}</td>

                </tr>
                
                {% endfor %}

{% endblock %}