{% extends "base.html" %}
{% block scripts %}
    <script>
        //fade in the logo
        $(function() {
        $("#landing-logo").hide().fadeIn(1000);}
        );
    </script>
{% endblock %}

{% block title %}login{% endblock %}

{% block welcome %}
    <div id="landContainer">
        <h1 id="landing-logo" style="font-size: 4rem; color: #ffffff;">notch</h1>
    </div>
{% endblock %} 

{% block nav %}
<div class = "div-dark-top">
        <h2>Login</h2>
</div>
{% endblock %}

{% block content %}

    <div id="login-sign-up-form">
        <form action="login" method = "POST">
            <div class="inputField">
                <input style="font-size: 15px" name="email" id="email" type="email" placeholder="email">
                <input style="font-size: 15px" name="password" id="password" type="password" placeholder="password">     
            </div>
            <br />
            <div id="login-sign-up-button-outer">
            <button type="submit" class="submit">Login</button>
            <button id="signup" onclick="changeDivContent(this)">Sign Up</button>
            </div>
        </form>
        
    </div>
{% endblock %}

{% block end_scripts %}
<script>
    let cont = document.getElementById("landContainer");
    window.addEventListener("load", (event) => {cont.style.marginBottom="0%"}
    );
</script>
<script>
    document.getElementById("body").style.overflow = "hidden";
    document.getElementById("main").style.paddingTop = "0%";
</script>
{% endblock %}